/.cabal-sandbox
/.stack-work
/cabal.sandbox.config
/dist
*.hi
\#*\#
.\#*
src/Kit/Parser/Lexer.hs
src/Kit/Parser/Parser.hs
src/Kit/Parser/Parser.info
tests/Kit/Parser/Custom
kitlang.cabal
assets/*.png
build
main
.importify
